.page {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 1rem auto;
}

@media (max-width: 600px) {
  .page {
    max-width: 90%;
  }
}

.page header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
